/* Базовые стили и сброс */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

body {
  min-inline-size: 100%;
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  background-color: var(--bg-color);
  color: var(--text-color);
  min-block-size: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background: transparent;
  border: none;
  text-decoration: none;
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline: 1px solid currentColor;
}

a:focus {
  outline: none;
}

a:focus-visible {
  outline: 1px solid currentColor;
}
